/* src/components/BookSearch.css */

.search-bar {
    display: flex;
    margin-bottom: 20px;
  }
  
  .search-bar input {
    width: calc(100% - 90px);
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .search-bar button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: #dfe4e9;
  }
  
  .book-list {
    margin-top: 20px;
  }
  